.badge-success {
    background-color: #2ecc71 !important; /* Xanh lá */
    color: white !important;
    padding: 5px 10px;
    border-radius: 8px;
}

.badge-danger {
    background-color: #e74c3c !important; /* Đỏ */
    color: white !important;
    padding: 5px 10px;
    border-radius: 8px;
}

.badge-dark {
    background-color: #333333 !important; /* Đen */
    color: white !important;
    padding: 5px 10px;
    border-radius: 8px;
}
